name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t demo-app .

    - name: Run Docker Container
      run: docker run -d -p 8000:8000 demo-app

    - name: Verify Container is Running
      run: docker ps
